body {
    background-color: rgba(180, 243, 222, 0.39);
    padding: 0;
    margin: 0;
}

.button-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pulse-button {
    height: 550px;
    width: 550px;
    border-radius: 50%;
    outline: none;
    border: none;
    font-size: 75px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    letter-spacing: 1px;
    background-color: rgba(255, 82, 226, 0.521);
    box-shadow: 0 0 0 0 rgba(100, 2, 84, 0.521);;
    transform: scale(1);
    animation: pulse 1.7s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(100, 2, 84, 0.521);
        transform: scale(0.95);
    }

    70% {
        box-shadow: 0 0 0 0 rgba(100, 2, 84, 0.521);
        transform: scale(1.2);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(63, 14, 48, 0.767);
        transform: scale(0.95);
    }
    
}